* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.ml-2 {
    margin-left: 10px;
}
h2 {
    padding: 50px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
}
.btn a {
    text-decoration: none;
    color: #fff;
}
.close {
    color: #000;
    display: inline-block;
    margin-right: 24px;
    font-size: 20px;
}
.title {
    padding-top: 30px;
    font-size: 40px;
    text-align: center;
}
img {
    width: 50%;
}
