body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    scroll-behavior: smooth;
}
main {
    margin-top: 90px;
}
form {
    background-color: #ffffff;
}
nav-bar {
    box-shadow: #333333 1px;
}
h2 {
    text-align: center;
    color: #333333;
}

label {
    display: block;
    color: #555555;
}

input {
    width: 100%;
}

button {
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

form button:hover {
    background-color: #45a049;
}
.modal-sm {
    max-width: 400px;
}
.custom-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
